
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-deployment
  labels:
    app: ecommerce-web
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: ecommerce-web
  template:
    metadata:
      labels:
        app: ecommerce-web
    spec:
      containers:
      - name: ecommerce-site
        image: my-ecommerce-app:latest 
        imagePullPolicy: Never 
        ports:
        - containerPort: 80

---


apiVersion: v1
kind: Service
metadata:
  name: ecommerce-service
spec:
  type: NodePort 
  selector:
    app: ecommerce-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30001 